Guess a number

Guess higher...

<br/>
<form action="/guess" method="get">
	<label for="guess">My Guess</label>
	<input type="text" id="guess" name="guess" />
	<input type="submit" value="Guess"/>
</form>