Guess a number

<% if @try == :higher %>
Guess higher...
<% end %>

<br/>
<form action="/guess" method="get">
	<label for="guess">My Guess</label>
	<input type="text" id="guess" name="guess" />
	<input type="submit" value="Guess"/>
</form>